# Configuration file

general {
    # Customize the one block level up message
    # %X% -> X position of the one block.
    # %Y% -> Y position of the one block.
    # %Z% -> Z position of the one block.
    # %Level% -> level name of the one block.
    # Note :
    # You can type ï¿½ to use minecraft colors
    # Set an empty space to disable message
    S:"Level up message."=The One Block at ï¿½e%X% %Y% %Z%ï¿½r level up to ï¿½e%Level%

    # Config for guaranteed content
    # format :
    # for blocks -> <mined_blocks>;<block_id>;<block_meta>;
    # for chests -> <mined_blocks>;chest<nbt>  or
    # for entities -> <mined_blocks>;entity<nbt>
    S:"Oneblock guaranteed content" <
        1499;minecraft:diamond_ore;0
        349;entity{Passengers:[{Particle:"smoke",Radius:2.0f,Passengers:[{Passengers:[{Particle:"smoke",Radius:2.0f,Passengers:[{Passengers:[{Particle:"smoke",Radius:2.0f,Passengers:[{id:"chicken"}],id:"area_effect_cloud"}],Color:0,id:"sheep"}],id:"area_effect_cloud"}],id:"cow"}],id:"area_effect_cloud"}],id:"pig"}
        5999;chest{Items:[{Slot:13,id:"oneblock:obmaker",Count:1}]}
     >

    # Config for all one block levels
    # format for 1 level :
    # level;<mined_blocks>;<level_name>
    # for blocks -> <block_id>;<block_meta>;<weight>  or
    # for chests -> chest<nbt>;<weight>  or
    # for entities -> entity<nbt>;<weight>
    # 
    # Note : different levels are not in order of block mined.
    S:"Oneblock levels content" <
        level;0;Plains;minecraft:dirt
        minecraft:grass;0;80
        minecraft:leaves;8;10
        minecraft:log;0;25
        minecraft:clay;0;20
        minecraft:pumpkin;2;4
        minecraft:melon_block;0;6
        minecraft:dirt;2;32
        minecraft:log;2;20
        entity{id:"pig"};3
        entity{id:"cow"};3
        entity{id:"chicken"};3
        entity{id:"sheep"};3
        chest{LootTable:"minecraft:chests/spawn_bonus_chest"};3
        level;2400;Jungle;minecraft:mossy_cobblestone
        minecraft:cobblestone;0;70
        minecraft:mossy_cobblestone;0;35
        minecraft:leaves;11;4
        minecraft:log;3;12
        minecraft:gold_ore;0;10
        minecraft:diamond_ore;0;3
        minecraft:stained_hardened_clay;13;13
        minecraft:stained_hardened_clay;5;8
        minecraft:iron_ore;0;7
        minecraft:log;1;6
        minecraft:stone;5;10
        minecraft:stone;3;10
        minecraft:stone;1;10
        minecraft:coal_ore;0;6
        minecraft:leaves2;8;3
        minecraft:log2;0;4
        minecraft:stone;0;70
        minecraft:lapis_ore;0;9
        minecraft:redstone_ore;0;7
        minecraft:prismarine;0;5
        minecraft:sand;0;6
        minecraft:stained_hardened_clay;11;5
        minecraft:leaves2;9;4
        minecraft:log2;1;7
        chest{LootTable:"minecraft:chests/abandoned_mineshaft"};2
        chest{LootTable:"minecraft:chests/simple_dungeon"};3
        entity{id:"parrot"};6
        entity{id:"ocelot"};6
        entity{id:"witch"};6
        entity{id:"horse"};6
        level;6000;End;minecraft:end_bricks
        minecraft:end_stone;0;60
        minecraft:purpur_block;0;30
        minecraft:end_bricks;0;35
        minecraft:stained_hardened_clay;6;15
        minecraft:obsidian;0;8
        minecraft:purpur_pillar;4;20
        chest{LootTable:"minecraft:chests/abandoned_mineshaft"};1
        chest{LootTable:"minecraft:chests/simple_dungeon"};2
        chest{LootTable:"minecraft:chests/end_city_treasure"};4
        entity{id:"endermite"};5
        entity{id:"enderman"};5
        entity{id:"shulker"};5
        level;900;Mountain;minecraft:ice
        minecraft:grass;0;34
        minecraft:snow;0;25
        minecraft:leaves;8;3
        minecraft:leaves;9;9
        minecraft:leaves;10;1
        minecraft:leaves2;9;2
        minecraft:log2;1;6
        minecraft:stone;0;32
        minecraft:gravel;0;16
        minecraft:log;0;8
        minecraft:coal_ore;0;7
        minecraft:iron_ore;0;12
        minecraft:stone;5;20
        minecraft:stone;3;20
        minecraft:stone;1;20
        minecraft:packed_ice;0;13
        minecraft:ice;0;16
        minecraft:concrete_powder;0;11
        minecraft:stained_hardened_clay;7;8
        minecraft:log;2;3
        minecraft:log;1;13
        minecraft:gold_ore;0;4
        minecraft:redstone_ore;0;4
        minecraft:dirt;0;12
        minecraft:clay;0;10
        minecraft:pumpkin;2;12
        minecraft:melon_block;0;10
        minecraft:dirt;2;14
        entity{id:"wolf"};7
        entity{id:"stray"};7
        entity{id:"rabbit"};7
        entity{id:"polar_bear"};7
        chest{LootTable:"minecraft:chests/abandoned_mineshaft"};4
        chest{LootTable:"minecraft:chests/simple_dungeon"};5
        chest{LootTable:"minecraft:chests/igloo_chest"};5
        level;4500;Nether;minecraft:netherrack
        minecraft:netherrack;0;70
        minecraft:soul_sand;0;50
        minecraft:magma;0;30
        minecraft:nether_wart_block;0;10
        minecraft:red_nether_brick;0;22
        minecraft:quartz_ore;0;30
        minecraft:obsidian;0;9
        minecraft:glowstone;0;18
        minecraft:iron_ore;0;5
        minecraft:diamond_ore;0;1
        minecraft:emerald_ore;0;7
        minecraft:sand;1;8
        minecraft:gold_ore;0;15
        entity{id:"zombie_pigman"};7
        entity{id:"magma_cube"};7
        entity{id:"blaze"};7
        entity{id:"ghast"};7
        entity{id:"wither_skeleton"};6
        chest{LootTable:"minecraft:chests/abandoned_mineshaft"};1
        chest{LootTable:"minecraft:chests/simple_dungeon"};2
        chest{LootTable:"minecraft:chests/nether_bridge"};6
        level;3400;Desert;minecraft:sand
        minecraft:sand;0;70
        minecraft:mossy_cobblestone;0;10
        minecraft:leaves;11;4
        minecraft:log;3;12
        minecraft:gold_ore;0;14
        minecraft:diamond_ore;0;4
        minecraft:stained_hardened_clay;4;13
        minecraft:stained_hardened_clay;12;8
        minecraft:stained_hardened_clay;13;3
        minecraft:stained_hardened_clay;5;2
        minecraft:iron_ore;0;8
        minecraft:log;1;6
        minecraft:stone;5;10
        minecraft:stone;3;10
        minecraft:stone;1;10
        minecraft:coal_ore;0;6
        minecraft:leaves2;8;5
        minecraft:log2;0;7
        minecraft:sandstone;0;40
        minecraft:lapis_ore;0;9
        minecraft:redstone_ore;0;9
        minecraft:prismarine;0;4
        minecraft:stained_hardened_clay;11;3
        minecraft:leaves2;9;4
        minecraft:log2;1;7
        chest{LootTable:"minecraft:chests/abandoned_mineshaft"};2
        chest{LootTable:"minecraft:chests/simple_dungeon"};3
        entity{id:"llama"};6
        entity{id:"mule"};5
        entity{id:"donkey"};5
        entity{id:"vindication_illager"};2
        entity{id:"illusion_illager"};1
        entity{id:"evocation_illager"};1
        entity{id:"villager"};2
        level;1500;Ocean;minecraft:sponge#wet=true
        minecraft:prismarine;0;110
        minecraft:lapis_ore;0;12
        minecraft:redstone_ore;0;10
        minecraft:sand;0;24
        minecraft:stained_hardened_clay;11;13
        minecraft:leaves2;9;2
        minecraft:log2;1;9
        minecraft:sponge;0;4
        minecraft:log;0;12
        minecraft:stone;0;19
        minecraft:stained_hardened_clay;9;9
        minecraft:coal_ore;0;7
        minecraft:stone;5;11
        minecraft:stone;3;11
        minecraft:stone;1;11
        minecraft:sea_lantern;0;12
        minecraft:clay;0;15
        minecraft:diamond_ore;0;2
        minecraft:iron_ore;0;12
        chest{LootTable:"minecraft:chests/abandoned_mineshaft"};3
        chest{LootTable:"minecraft:chests/simple_dungeon"};4
        minecraft:packed_ice;0;10
        minecraft:ice;0;10
        minecraft:concrete_powder;0;11
        minecraft:gravel;0;20
        minecraft:grass;0;8
        minecraft:pumpkin;2;7
        minecraft:melon_block;0;7
        minecraft:leaves;9;3
        minecraft:leaves;10;3
        minecraft:log;2;6
        minecraft:log;1;6
        minecraft:dirt;0;7
        minecraft:dirt;2;9
        entity{id:"squid"};9
        entity{id:"guardian"};9
        entity{id:"elder_guardian"};9
        level;350;Underground;minecraft:stone
        minecraft:stone;0;46
        minecraft:gravel;0;30
        minecraft:coal_ore;0;15
        minecraft:iron_ore;0;10
        minecraft:log;0;4
        minecraft:leaves;8;3
        minecraft:leaves;10;2
        minecraft:log;2;4
        minecraft:log;1;4
        minecraft:grass;0;4
        minecraft:stone;1;23
        minecraft:stone;3;23
        minecraft:stone;5;23
        minecraft:dirt;0;15
        minecraft:clay;0;9
        minecraft:pumpkin;2;8
        minecraft:melon_block;0;8
        minecraft:dirt;2;11
        entity{id:"mooshroom"};5
        entity{id:"zombie"};5
        entity{id:"spider"};5
        entity{id:"creeper"};5
        chest{LootTable:"minecraft:chests/abandoned_mineshaft"};1
        chest{LootTable:"minecraft:chests/simple_dungeon"};2
     >
}


